<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>bomi.icns</string>
	<key>CFBundleExecutable</key>
	<string>bomi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>bomi</string>
	<key>CFBundleDisplayName</key>
	<string>bomi</string>
	<key>CFBundleIdentifier</key>
	<string>net.xylosper.bomi</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.16</string>
	<key>CFBundleVersion</key>
	<string>0.8.16</string>
	<key>CFBundleSignature</key>
	<string>XYLO</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.7.0</string>
	</dict>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
				<string>3iv</string>
				<string>asf</string>
				<string>avi</string>
				<string>cpk</string>
				<string>dat</string>
				<string>divx</string>
				<string>dv</string>
				<string>flac</string>
				<string>fli</string>
				<string>flv</string>
				<string>h264</string>
				<string>i263</string>
				<string>m2ts</string>
				<string>m4v</string>
				<string>mkv</string>
				<string>mov</string>
				<string>mp2</string>
				<string>mp4</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mpg2</string>
				<string>mpg4</string>
				<string>nsv</string>
				<string>nut</string>
				<string>nuv</string>
				<string>ogg</string>
				<string>ogm</string>
				<string>qt</string>
				<string>rm</string>
				<string>rmvb</string>
				<string>vcd</string>
				<string>vfw</string>
				<string>vob</string>
				<string>wmv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Video file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>ac3</string>
				<string>aiff</string>
				<string>m4a</string>
				<string>mka</string>
				<string>mp3</string>
				<string>ogg</string>
				<string>pcm</string>
				<string>vaw</string>
				<string>wav</string>
				<string>waw</string>
				<string>wma</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>smi</string>
				<string>srt</string>
				<string>sub</string>
				<string>txt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Subtitle file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>gif</string>
				<string>ico</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>mng</string>
				<string>pbm</string>
				<string>pgm</string>
				<string>png</string>
				<string>ppm</string>
				<string>tga</string>
				<string>tif</string>
				<string>tiff</string>
				<string>wbmp</string>
				<string>xbm</string>
				<string>xpm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
</dict>
</plist>
