*.o
*.d
*.a
*DS_Store
*.qm
moc_*.cpp
a.out
build/*
src/build-interm*
src/libav/.config
src/libav/.version
src/libav/config.asm
src/libav/config.fate
src/libav/config.h
src/libav/config.log
src/libav/config.mak
src/libav/doc/avoptions_codec.texi
src/libav/doc/avoptions_format.texi
src/libav/doc/developer.html
src/libav/doc/faq.html
src/libav/doc/fate.html
src/libav/doc/general.html
src/libav/doc/git-howto.html
src/libav/doc/libavfilter.html
src/libav/doc/platform.html
src/libav/doc/print_options
src/libav/libavcodec/libavcodec-uninstalled.pc
src/libav/libavcodec/libavcodec.pc
src/libav/libavdevice/libavdevice-uninstalled.pc
src/libav/libavdevice/libavdevice.pc
src/libav/libavfilter/libavfilter-uninstalled.pc
src/libav/libavfilter/libavfilter.pc
src/libav/libavformat/libavformat-uninstalled.pc
src/libav/libavformat/libavformat.pc
src/libav/libavresample/libavresample-uninstalled.pc
src/libav/libavresample/libavresample.pc
src/libav/libavutil/avconfig.h
src/libav/libavutil/libavutil-uninstalled.pc
src/libav/libavutil/libavutil.pc
src/libav/libswscale/libswscale-uninstalled.pc
src/libav/libswscale/libswscale.pc
src/libav/version.h
src/libchardet-1.0.2/Makefile
src/libchardet-1.0.2/chardet-config.h
src/libchardet-1.0.2/config.log
src/libchardet-1.0.2/config.status
src/libchardet-1.0.2/libtool
src/libchardet-1.0.2/src/.libs/libchardet.la
src/libchardet-1.0.2/src/.libs/libchardet.lai
src/libchardet-1.0.2/src/CharDistribution.lo
src/libchardet-1.0.2/src/JpCntx.lo
src/libchardet-1.0.2/src/LangBulgarianModel.lo
src/libchardet-1.0.2/src/LangCyrillicModel.lo
src/libchardet-1.0.2/src/LangGreekModel.lo
src/libchardet-1.0.2/src/LangHebrewModel.lo
src/libchardet-1.0.2/src/LangHungarianModel.lo
src/libchardet-1.0.2/src/LangThaiModel.lo
src/libchardet-1.0.2/src/Makefile
src/libchardet-1.0.2/src/chardet-config
src/libchardet-1.0.2/src/chardet.lo
src/libchardet-1.0.2/src/libchardet.la
src/libchardet-1.0.2/src/nsBig5Prober.lo
src/libchardet-1.0.2/src/nsCharSetProber.lo
src/libchardet-1.0.2/src/nsEUCJPProber.lo
src/libchardet-1.0.2/src/nsEUCKRProber.lo
src/libchardet-1.0.2/src/nsEUCTWProber.lo
src/libchardet-1.0.2/src/nsEscCharsetProber.lo
src/libchardet-1.0.2/src/nsEscSM.lo
src/libchardet-1.0.2/src/nsGB2312Prober.lo
src/libchardet-1.0.2/src/nsHebrewProber.lo
src/libchardet-1.0.2/src/nsLatin1Prober.lo
src/libchardet-1.0.2/src/nsMBCSGroupProber.lo
src/libchardet-1.0.2/src/nsMBCSSM.lo
src/libchardet-1.0.2/src/nsSBCSGroupProber.lo
src/libchardet-1.0.2/src/nsSBCharSetProber.lo
src/libchardet-1.0.2/src/nsSJISProber.lo
src/libchardet-1.0.2/src/nsUTF8Prober.lo
src/libchardet-1.0.2/src/nsUniversalDetector.lo
src/mplayer2/codecs.conf.h
src/mplayer2/config.h
src/mplayer2/config.log
src/mplayer2/config.mak
src/mplayer2/libmpdemux/ebml_defs.c
src/mplayer2/libmpdemux/ebml_types.h
src/mplayer2/mplayer
src/mplayer2/version.h
src/cmplayer/cmplayer.pro.user
*.user
src/cmplayer_widgets/Makefile
src/cmplayer_widgets/Makefile.Debug
src/cmplayer_widgets/Makefile.Release
src/cmplayer_skin/Makefile
src/cmplayer_skin/Makefile.Debug
src/cmplayer_skin/Makefile.Release