*.conf.bk
*.directory
windows/Makefile*
windows/latest/*
windows/repo/
windows/*.exe
windows/packages/net.xylosper.bomi*/data/*
src/mpv/.git
src/libchardet*
src/ffmpeg*
src/build-*
src/.build-*
src/bomi/bomi_*plugin*.cpp
src/bomi/bomi_resource.rc
src/bomi/object_script.bomi*
*~
*.cpp.[a-z][a-z][0-9][0-9][0-9][0-9]
*.hpp.[a-z][a-z][0-9][0-9][0-9][0-9]
*.qml.[a-z][a-z][0-9][0-9][0-9][0-9]
.qmake.cache
*.o
*.d
*.a
*.qm
*DS_Store
moc_*.cpp
a.out
*-build-*
build-mpv
Makefile
build/*
arch/pkg
arch/src
arch/*.tar.xz
arch/*.tar.gz
arch/bomi*
src/build-interm*
src/libchardet-1.0.2/Makefile
src/libchardet-1.0.2/chardet-config.h
src/libchardet-1.0.2/config.log
src/libchardet-1.0.2/config.status
src/libchardet-1.0.2/libtool
src/libchardet-1.0.2/src/.libs/libchardet.la
src/libchardet-1.0.2/src/.libs/libchardet.lai
src/libchardet-1.0.2/src/CharDistribution.lo
src/libchardet-1.0.2/src/JpCntx.lo
src/libchardet-1.0.2/src/LangBulgarianModel.lo
src/libchardet-1.0.2/src/LangCyrillicModel.lo
src/libchardet-1.0.2/src/LangGreekModel.lo
src/libchardet-1.0.2/src/LangHebrewModel.lo
src/libchardet-1.0.2/src/LangHungarianModel.lo
src/libchardet-1.0.2/src/LangThaiModel.lo
src/libchardet-1.0.2/src/Makefile
src/libchardet-1.0.2/src/chardet-config
src/libchardet-1.0.2/src/chardet.lo
src/libchardet-1.0.2/src/libchardet.la
src/libchardet-1.0.2/src/nsBig5Prober.lo
src/libchardet-1.0.2/src/nsCharSetProber.lo
src/libchardet-1.0.2/src/nsEUCJPProber.lo
src/libchardet-1.0.2/src/nsEUCKRProber.lo
src/libchardet-1.0.2/src/nsEUCTWProber.lo
src/libchardet-1.0.2/src/nsEscCharsetProber.lo
src/libchardet-1.0.2/src/nsEscSM.lo
src/libchardet-1.0.2/src/nsGB2312Prober.lo
src/libchardet-1.0.2/src/nsHebrewProber.lo
src/libchardet-1.0.2/src/nsLatin1Prober.lo
src/libchardet-1.0.2/src/nsMBCSGroupProber.lo
src/libchardet-1.0.2/src/nsMBCSSM.lo
src/libchardet-1.0.2/src/nsSBCSGroupProber.lo
src/libchardet-1.0.2/src/nsSBCharSetProber.lo
src/libchardet-1.0.2/src/nsSJISProber.lo
src/libchardet-1.0.2/src/nsUTF8Prober.lo
src/libchardet-1.0.2/src/nsUniversalDetector.lo
src/bomi/release
src/bomi/debug
src/bomi/configure.pro
src/bomi/configure.hpp
ui_*.h
*.user
src/bomi/Makefile
src/bomi/Makefile.Debug
src/bomi/Makefile.Release
src/bomi/bomi.pro.user*
src/ffmpeg/.config
src/ffmpeg/.version
src/ffmpeg/config.asm
src/ffmpeg/config.fate
src/ffmpeg/config.h
src/ffmpeg/config.log
src/ffmpeg/config.mak
src/ffmpeg/doc/examples/pc-uninstalled/libavcodec.pc
src/ffmpeg/doc/examples/pc-uninstalled/libavformat.pc
src/ffmpeg/doc/examples/pc-uninstalled/libavutil.pc
src/ffmpeg/doc/examples/pc-uninstalled/libswscale.pc
src/ffmpeg/libavcodec/libavcodec.pc
src/ffmpeg/libavformat/libavformat.pc
src/ffmpeg/libavutil/avconfig.h
src/ffmpeg/libavutil/libavutil.pc
src/ffmpeg/libswscale/libswscale.pc
src/ffmpeg/version.h
src/ffmpeg/doc/examples/pc-uninstalled/libswresample.pc
src/ffmpeg/libswresample/libswresample.pc
build/
/bomi.1.gz
