[Desktop Entry]
X-KDE-Solid-Predicate=[[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Data|VideoDvd' ] OR [ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Data|VideoDvd' ]]
Type=Service
Actions=open;

[Desktop Action open]
Name=Open Video DVD with CMPlayer
Name[pl]=Otwórz Video DVD z CMPlayer
Name[es]=Abrir DVD de vídeo con CMPlayer
Name[de]=Öffne Video-DVD mit CMPlayer
Exec=cmplayer --wake dvd://%d
Icon=cmplayer
