Source: bomi
Section: graphics
Priority: optional
Maintainer: Byoung-young Lee (xylosper) <darklin20@gmail.com>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 7), pkg-config
 , qt5-qmake, qttools5-dev-tools, qtbase5-dev (>= 5.2.0), qtdeclarative5-dev
 , libqt5x11extras5-dev, libqt5svg5-dev, python, libbluray-dev
 , libass-bomi, libenca-dev, libfontconfig1-dev, libfreetype6-dev, libfribidi-dev, libharfbuzz-dev
 , yasm, zlib1g-dev, libx11-dev, libdvdread-dev, libdvdnav-dev
 , libcdio-dev, libcdio-paranoia-dev, libcdio-cdda-dev
 , libasound2-dev, libva-dev, libvdpau-dev, libchardet
 , libbz2-dev, libjack-dev
 , libpulse-dev, libxcb-icccm4-dev, libgnutls-dev, libsmbclient-dev
 , libxcb-util0-dev, libxcb-randr0-dev, libxcb-screensaver0-dev
 , libxcb-xtest0-dev, libsmbclient-dev, qt5-default@bdeps@

Package: bomi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
 , libqt5svg5, libqt5sql5-sqlite@deps@
Recommends: youtube-dl
Conflicts: cmplayer
Description: bomi - a multimedia player
 bomi is a multimedia player.
