Source: cmplayer
Section: graphics
Priority: optional
Maintainer: xylosper <darklin20@gmail.com>
Build-Depends: g++ (>= 4.7), debhelper (>= 7)
	, qt5-qmake, qtbase5-dev, qtdeclarative5-dev
	, yasm, zlib1g-dev, libx11-dev, libdvdread-dev
	, libcdio-dev, libcdio-paranoia-dev, libcdio-cdda-dev
	, libopenal-dev, libasound2-dev, libva-dev, libquvi-dev
	, libmpg123-dev, libbz2-dev, qt5-default

Package: cmplayer
Architecture: any
Depends: ${shlibs:Depends}, qtdeclarative5-qtquick2-plugin
Description: CMPlayer - a multimedia player
 CMPlayer is a multimedia player.

